<div style="min-height: 75px"></div>
<div class="container" id="musicList">
  <div class="row" ng-show="!inError">
    <div ng-repeat-start="song in songs" class="col-xs-3">
      <div class="well">
        <a href="" ng-click="getSpecificSong(song._id, '/musicPlayer')">
          <img ng-src="{{song.image}}" class="img-responsive"  ng-cloak>
        <h4 id="songTitle"  ng-cloak>{{song.title}}</h4>
        </a>
      </div>
    </div>
    <div ng-repeat-end=""></div>

  </div><!--/row-->
  <div ng-show="inError" class="row">
    <div class="text-center">
      <img src="../images/errorCat.jpg"/>
      <h1>Oh! Le serveur a rencontré une erreur.
       </h1>
      <h2>Vérifiez son état avant de réessayer. </h2>
    </div>
  </div>
</div><!--/container-->
