<div class="jumbotron">
  <h1>COUCOU Accueil !</h1>
  <p class="lead">
Choisis ta chanson !  </p>
  <div ng-repeat="song in songs">
    {{song}}
  </div>
</div>

<div class="row marketing">
  <h4>Much information</h4>
  <p>
    Aujourd'hui j'me suis réveillé à 10h pile ! Et maintenant j'ai faim parce que je n'ai pas pris de petit-déjeuner :(
  </p>

  <h4>Such wow</h4>
  <p>
    Ne me dites pas que vous lisez vraiment tout ça ?
  </p>

  <h4>Very angular</h4>
  <p>Angular c'est la vie.</p>
</div>
