<!--This navbar is used when the user is not connected !-->

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Email address" ng-model="user.usernameOrEmail">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" placeholder="Password" ng-model="user.password">
        </div>
    <!-- This is node currently used, because the token can never expire...
    <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="user.remember"> Remember me
          </label>
        </div> -->
        <button type="submit" class=" btn btn-success" ng-click="login(user)">Login !</button>
        <button type="submit" class="btn btn-success" ng-click="signUp(user)">Create my account !</button>

      </form>
    </div><!--/.nav-collapse -->
  </div>
  </nav>
