audio-player .paused .play-text,
audio-player .pause-text {
  display:inline-block;
}
audio-player .play-text,
audio-player .paused .pause-text {
  display:none;
}
audio-player * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
