<!-- Header -->
<div class="panel panel-default" style="margin-top: 20px; background-color:#f5f5f5;">
  <div class="panel-body">
    <div class="col-xs-12 col-md-2">
      <img class="img-responsive" ng-src={{info.image}} height="200" width="200" style="border-radius: 5px">
    </div>
    <div class="col-xs-12 col-md-5">
      <h1>{{info.artist}}</h1>

      <h2>{{info.title}}</h2>

      <div class="form-group">
        <button ng-disabled="!tracksLoaded" type="button" class="btn btn-default btn-circle btn-xl"
                ng-click="playpause()">
          <i class="glyphicon" ng-class="{'glyphicon-play':!playing,'glyphicon-pause':playing}"></i>
        </button>
      </div>
      <form class="form-group form-inline">
        <i class="glyphicon glyphicon-volume-up" style="font-size: 18px"></i>

        <div class="form-group">
          <input min="0" max="1" step="0.01" type="range"
                 ng-model="globalVolume"
                 ng-change="volumeChanged()"/>
        </div>
      </form>
    </div>
    <div class="col-xs-5 col-xs-12">
      <h3><a ng-click="saveMyMix()" class="pointer-hover"> <span class="glyphicon glyphicon-floppy-disk"></span>
        Sauvegarder mon mix actuel</a></h3>
        <h2> Charger un mix existant : </h2>
      <ul ng-repeat="mix in info.mixes">
        <li>{{mix.name}}, par {{mix.author}}</li>
      </ul>
    </div>
  </div>
</div>
<!-- track -->
<div ng-repeat="track in tracks" class="panel panel-default" ng-class="{'track-disabled':track.muted}">
  <div class="panel-heading" style="position:relative">
    <h3 style="margin:0">{{track.name}}
      <form class="form-inline" style="position:absolute; top:8px; left:15px">

        <button type="button" class="btn btn-default btn-circle btn-sm" ng-click="silenceAskedFrom(track)">S</button>
        <button type="button" ng-class="{'active':track.muted}" class="btn btn-default btn-circle btn-sm"
                ng-click="mute(track)">
          <i class="glyphicon"
             ng-class="{'glyphicon-volume-off':track.muted||track.volume==0, 'glyphicon-volume-down':!track.muted&&track.volume>0, 'glyphicon-volume-up':!track.muted&&track.volume==1}"></i>
        </button>
        <div class="form-group">
          <input min="0" max="1" step="0.01" type="range" ng-model="track.volume"
                 ng-change="volumeChanged(track)"/>
        </div>
        <!-- rest of form -->
      </form>
    </h3>
  </div>
  <!-- waveform -->
  <div class="panel-body">
    <div id="canvas-container" style="position:relative; width:100%; height:100px; border-radius:4px">
      <!-- waveform -->
      <canvas waveform buffer="track.source.buffer"
              style="position: absolute; top: 0; left: 0; background-color: #ddd"></canvas>
      <!-- time indicator -->
      <canvas class="pointer-hover" ng-show="tracksLoaded" time-changed="timeChanged(timeSelected)"
              time-indicator current-time="currentTime" total-time="track.source.buffer.duration"
              style="position: absolute; top: 0; left: 0"></canvas>
    </div>
  </div>
  <!-- footer -->
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-12">
        <div class="pointer-hover" ng-click="track.footerOpened = !track.footerOpened" style="text-align: right">Effets
          <button type="button" class="btn btn-default btn-circle btn-sm">
            <i class="glyphicon"
               ng-class="{'glyphicon-chevron-down': track.footerOpened, 'glyphicon-chevron-right': !track.footerOpened}"></i>
          </button>
        </div>

        <div uib-collapse="!track.footerOpened">
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-2">
              <div><span style="position:absolute;left:10px">L</span><label>Balance</label><span
                style="position:absolute;right:10px">R</span></div>
              <input min="-1" max="1" step="0.20" type="range"
                     ng-model="track.panNode.pan.value"/>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-2 col-md-1">
              <label>Treble</label>
              <input orient="vertical" min="-40" max="40" step="1" type="range" ng-model="track.trebleFilter.gain.value"
                     style="margin:0 auto"/>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-1">
              <label>Bass</label>
              <input orient="vertical" min="-40" max="40" step="1" type="range"
                     ng-model="track.bassFilter.gain.value" style="margin:0 auto"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- loading label -->
<p ng-show="!tracksLoaded" class="animated infinite pulse">Chargement... ({{tracks.length}}/{{info.tracks.length}})</p>
